/* screen - 2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 */

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(39, 38, 38) 0%, rgb(245.52, 251.81, 248.41) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 2px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 91px;
  min-height: 1080px;
  padding: 25px 37px;
  width: 1920px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 1826px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-76 {
  height: 183px;
  width: 320px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group3 {
  align-self: center;
  height: 78px;
  margin-bottom: 41.0px;
  margin-left: 757px;
  position: relative;
  width: 335px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-156 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  height: 71px;
  left: 0;
  position: absolute;
  top: 0;
  width: 312px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .role-name {
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 305px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group2 {
  height: 122px;
  margin-left: 5px;
  position: relative;
  width: 409px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .ellipse-11 {
  cursor: pointer;
  height: 122px;
  left: 287px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 122px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-157 {
  background-color: var(--white);
  border: 2px solid;
  border-color: var(--black);
  cursor: pointer;
  height: 71px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 219px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .log-out {
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
  width: 305px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .flex-row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 10px;
  margin-right: 52.0px;
  min-width: 1738px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group {
  height: 737px;
  position: relative;
  width: 596px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-80 {
  background-color: var(--ronchi);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 80px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 550px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-90 {
  background-color: var(--ronchi);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 80px;
  left: 79px;
  position: absolute;
  top: 629px;
  width: 400px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .generate-new-project {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 596px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-81 {
  background-color: #eed8d866;
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 620px;
  left: 12px;
  position: absolute;
  top: 117px;
  width: 550px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .project-name {
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 140px;
  width: 433px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .start-date {
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 261px;
  width: 433px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .description {
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 391px;
  width: 433px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-82 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 50px;
  left: 64px;
  position: absolute;
  top: 197px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-84 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 150px;
  left: 64px;
  position: absolute;
  top: 456px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-83 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 50px;
  left: 64px;
  position: absolute;
  top: 320px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .polygon-8 {
  height: 32px;
  left: 471px;
  position: absolute;
  top: 328px;
  width: 36px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .add {
  cursor: pointer;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 637px;
  width: 342px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 737px;
  width: 1132px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group4 {
  height: 97px;
  position: relative;
  width: 550px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-85 {
  background-color: var(--ronchi);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 550px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .manage-user-account {
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 460px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .overlap-group1 {
  height: 620px;
  position: relative;
  width: 1132px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-91 {
  background-color: var(--ronchi);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 80px;
  left: 85px;
  position: absolute;
  top: 518px;
  width: 400px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-93 {
  background-color: var(--ronchi);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  height: 80px;
  left: 645px;
  position: absolute;
  top: 518px;
  width: 400px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-86 {
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1132px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .user-email {
  top: 23px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-92 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 400px;
  left: 633px;
  position: absolute;
  top: 95px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-88 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 50px;
  left: 42px;
  position: absolute;
  top: 80px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-94 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 50px;
  left: 633px;
  position: absolute;
  top: 22px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .user-role {
  top: 144px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .rectangle-89 {
  background-color: var(--alto);
  border: 2px solid;
  border-color: var(--black);
  height: 50px;
  left: 42px;
  position: absolute;
  top: 203px;
  width: 450px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .generate {
  cursor: pointer;
  left: 669px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 526px;
  width: 342px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .add-1 {
  cursor: pointer;
  left: 98px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 526px;
  width: 342px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .hello-world {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 635px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 448px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .name {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 645px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 109px;
  width: 448px;
}

.x2u46-u4352u4458u4523u4357u4469u4364u4449-u4364u4453u4523u4363u4461u4540u4370u4458u4358u4455u4523 .user {
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  width: 433px;
}
